<div class="list-content">
  <div class="row">
    <div class="col-8">
      <h1>Fornecedores</h1>
    </div>
    <div class="col-4">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="btn btn-sm btn-dark new-btn" [routerLink]="'/suppliers/register'">Novo Fornecedor</a>
        </li>
      </ul>
    </div>
  </div><br>

  <table class="text-center table table-sm table-dark table-striped table-hover table-bordered">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CEP</th>
      <th>Tipo Fornecedor</th>
      <th>CNPJ</th>
      <th>CPF</th>
      <th>RG</th>
      <th>Data de Nascimento</th>
      <th class="text-center">Opções</th>
    </tr>
    <tr *ngFor="let supplier of suppliers">
      <td>{{ supplier.name }}</td>
      <td>{{ supplier.email }}</td>
      <td>{{ supplier.cep }}</td>
      <td>{{ supplierType(supplier) }}</td>
      <td>{{ supplier.cnpj }}</td>
      <td>{{ supplier.cpf }}</td>
      <td>{{ supplier.rg }}</td>
      <td>{{ supplier.birthDate }}</td>

      <td class="functions">
        <input type="submit" class="btn btn-sm btn-dark" value="Remover" (click)="delete(supplier)">
      </td>
    </tr>
  </table>

  <p *ngIf="suppliers.length==0">Nenhum Fornecedor cadastrado.</p>
</div>